<h2 class="h2 mb-4 mt-3"><%= t('views.home.title')%> | <%= t('views.companies.detail_title')%></h2>
<div class="row mb-3">
    <div class="h3"><%= @profile.name %></div> 
</div>


<div class="row mb-1 border-bottom pb-2">
    <div class="col-2">
        <div class="badge badge-dark"><%= t('activerecord.attributes.profile.cpf') %></div>
    </div>
    <div class="col-10">
        <div><%= @profile.cpf %></div>
    </div>
</div>


<div class="row mb-1 border-bottom pb-2">
    <div class="col-2">
        <div class="badge badge-dark"><%= t('activerecord.attributes.profile.bio') %></div>
    </div>
    <div class="col-10">
        <div><%= @profile.bio %></div>
    </div>
</div>  
        

<div class="row mb-1 border-bottom pb-2">
    <div class="col-2">
        <div class="badge badge-dark"><%= t('activerecord.attributes.profile.address') %></div>
    </div>
    <div class="col-10">
        <div><%= @profile.address %></div>
    </div>
</div>  

<div class="row mb-1 border-bottom pb-2">
    <div class="col-2">
        <div class="badge badge-dark"><%= t('activerecord.attributes.profile.number') %></div>
    </div>
    <div class="col-10">
        <div><%= @profile.number %></div>
    </div>
</div>  

<div class="row mb-1 border-bottom pb-2">
    <div class="col-2">
        <div class="badge badge-dark"><%= t('activerecord.attributes.profile.complement') %></div>
    </div>
    <div class="col-10">
        <div><%= @profile.complement %></div>
    </div>
</div>  

<div class="row mb-1 border-bottom pb-2">
    <div class="col-2">
        <div class="badge badge-dark"><%= t('activerecord.attributes.profile.neighborhood') %></div>
    </div>
    <div class="col-10">
        <div><%= @profile.neighborhood %></div>
    </div>
</div>  

<div class="row mb-1 border-bottom pb-2">
    <div class="col-2">
        <div class="badge badge-dark"><%= t('activerecord.attributes.profile.city') %></div>
    </div>
    <div class="col-10">
        <div><%= @profile.city %></div>
    </div>
</div>  

<div class="row mb-1 border-bottom pb-2">
    <div class="col-2">
        <div class="badge badge-dark"><%= t('activerecord.attributes.profile.state') %></div>
    </div>
    <div class="col-10">
        <div><%= @profile.state %></div>
    </div>
</div>  

<div class="row mb-1 border-bottom pb-2">
    <div class="col-2">
        <div class="badge badge-dark"><%= t('activerecord.attributes.profile.postal_code') %></div>
    </div>
    <div class="col-10">
        <div><%= @profile.postal_code %></div>
    </div>
</div>  


<div id="view_control">


</div>