<div class="d-flex flex-column align-items-center">
<div style='width: 30rem'>
  <h2 class="h2 mb-5 mt-3"><%= t('views.home.title')%> | <%= t('views.home.sign_up') %></h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-group' ) do |f| %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      <div class="text-danger"><%= resource.errors[:email].join(' | ') %></div>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length.other', count: @minimum_password_length) %></em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      <div class="text-danger"><%= resource.errors[:password].join(' | ') %></div>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      <div class="text-danger"><%= resource.errors[:password_confirmation].join(' | ') %></div>
    </div>

    <div class="actions mt-3">
      <%= f.submit t('views.home.sign_up'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
</div>