<h2 class="h2 mb-5 mt-3"><%= t('views.home.title')%> | <%= t('views.submissions.mine')%></h2>
<ul class="list-group">
    <% if @submissions.blank? %>
    <%= t('views.submissions.empty_apply') %>
    <% else %>
        <% @submissions.each do |submission| %>
            <li class="list-group-item d-flex justify-content-between align-items-center
            <% if submission.status == 'removed' %>
                list-group-item-secondary
            <% elsif submission.status == 'accepted' %>
                list-group-item-primary
            <% elsif submission.status == 'denied' %>
                list-group-item-warning
            <% elsif submission.status == 'hired' %>
                list-group-item-success
            <% elsif submission.status == 'refused' %>
                list-group-item-danger
            <% end %>
            " id="submission_<%= submission.id %>">

                <div>
                    <strong><%= submission.opportunity.company.name %></strong>
                    <br>
                    <% unless ['applied', 'refused', 'removed'].include?(submission.status) %>
                        <%= link_to submission.opportunity.title, submission.get_offer!  %>
                    <% else %>
                        <%= link_to submission.opportunity.title, submission.opportunity %>
                    <% end %>
                </div>

                <% if submission.status == 'applied' %>
                    <%= t('activerecord.attributes.submission.status_applied') %>
                <% elsif submission.status == 'removed' %>
                    <%= t('activerecord.attributes.submission.status_removed') %>
                <% elsif submission.status == 'accepted' %>
                    <div class="text-right"><%= l submission.updated_at, :format => :short_date %> <br> <%= t('activerecord.attributes.submission.status_accepted') %></div>
                <% elsif submission.status == 'denied' %>
                    <div class="text-right"><%= l submission.updated_at, :format => :short_date %> <br> <%= t('activerecord.attributes.submission.status_denied') %></div>
                <% elsif submission.status == 'hired' %>
                    <%= t('activerecord.attributes.submission.status_hired') %>
                <% elsif submission.status == 'refused' %>
                    <%= t('activerecord.attributes.submission.status_refused') %>
                <% end %>

            </li>
        <% end %>
    <% end %>
</ul>
