<!DOCTYPE html>
<html>
  <head>
    <title>JobMatcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-light">
      <div id="logo" class="col-2">
        <%= link_to root_path, { class: 'navbar-brand' } do %>
          <i class="far fa-handshake"></i> <%= t('views.home.title') %>
        <% end %>
      </div>
      <div id="search" class="form-inline col-8">
        <%= text_field_tag :q, nil, { placeholder: t('views.home.search'), class: 'form-control mr-2', style: 'width: 40rem' }%>
        <button class="btn btn-primary" ><i class="fas fa-search"></i> <%= t('views.home.search_btn') %></button>
      </div>
      <div id="access" class="col-2">

        <% if user_signed_in? %>

          <% if !current_user.profile.nil? && !current_user.profile.role.nil? %>
            <div class="btn-group">
              <button type="button" style="min-width: 8rem" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </button>
              <div class="dropdown-menu">
                <%= link_to t('views.profiles.mine'), profile_path(current_user), { class: 'dropdown-item' } %>

                <% if current_user.profile.role != 'regular' && !current_user.profile.company.first.nil? %>
                  <%= link_to t('views.companies.mine'), current_user.profile.company.first , { class: 'dropdown-item' } %>
                  <%= link_to t('views.opportunities.mine'), opportunities_path , { class: 'dropdown-item' } %>
                  <%= link_to t('views.technologies.title'), technologies_path, { class: 'dropdown-item' } %>
                <% else %>
                  <%= link_to t('views.submissions.mine'), submissions_path, { class: 'dropdown-item' } %>
                <% end %>

                <div class="dropdown-divider"></div>
                <%= link_to t('views.home.logout'), destroy_user_session_path, { class: 'dropdown-item', method: :delete } %>
              </div>
            </div>
          <% else %>
            <%= link_to t('views.home.logout'), destroy_user_session_path, { class: 'btn btn-secondary', method: :delete } %>
          <% end %>

        <% else %>
          <%= link_to t('views.home.sign_in'), new_user_session_path, { class: 'btn btn-outline-primary' } %>
          <%= link_to t('views.home.sign_up'), new_user_registration_path, { class: 'btn btn-secondary ml-auto' } %>
        <% end %>

      </div>
    </nav>

    <div class="container mt-4 mb-4">
      <%= yield %>
    </div>

  </body>
</html>
