<!DOCTYPE html>
<html>
  <head>
    <title>JobMatcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>
    <nav class="navbar navbar-light">
      <div id="logo" class="col-2">
        <%= link_to root_path, { class: 'navbar-brand' } do %>
          <i class="far fa-handshake"></i> <%= t('views.home.title') %>
        <% end %>
      </div>
      <div id="search" class="form-inline col-8">
        <%= text_field_tag :q, nil, { placeholder: t('views.home.search'), class: 'form-control mr-2', style: 'width: 40rem' }%>
        <button class="btn btn-primary" ><i class="fas fa-search"></i> <%= t('views.home.search_btn') %></button>
      </div>
      <div id="access" class="col-2">
        <button class="btn btn-outline-primary"><%= t('views.home.sign_in') %></button>
        <button class="btn btn-secondary"><%= t('views.home.sign_up') %></button>
      </div>
    </nav>
    
    <div class="container mt-4">
      <%= yield %>
    </div>

  </body>
</html>
